{% extends "layout.html" %}
{% block title %}
    Update password
{% endblock %}
{% block main %}
    <form action = "/changepassword" method = "post">
        <div class ="mb-3">
            <input class = "form-control mx-auto w-auto" type ="password" placeholder="Current password" autofocus name = "password">
        </div>
        <div class="mb-3">
            <input class = "form-control mx-auto w-auto" type = "password" placeholder = "New password" name = "new_password">
        </div>
        <div class="mb-3">
            <input class ="form-control mx-auto w-auto" type = "password" placeholder = "Confirm password" name = "confirm_password">
        </div>
        <input type = "submit" class = "btn btn-primary" value = "Change Password">
        
    </form>
{% endblock %}