{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock%}

{% block main %}
    <form action = "/register" method = "post">
        <div class = "mb-3">
            <input class = "form-control mx-auto w-auto" type = "text" name = "username" autofocus placeholder = "Username">
        </div>
        <div class = "mb-3">
            <input class = "form-control mx-auto w-auto" type = "password" name = "password" placeholder = "Password">
        </div>
        <div class = "mb-3">
            <input class = "form-control mx-auto w-auto" type = "password" name="confirmation" placeholder = "Confirm password">
        </div>
        <div>
            <button class = "btn btn-success" type = "submit">Sign up</button>
        </div>
    </form>
{% endblock %}